<html>
    <head>
        <link href="/static/myStyles.css" rel="stylesheet"/>
        <body>
            <br>
            <br>
            <br>
            <br>
            <h1>Login here</h1>
            <br>
            <form method="POST" action="/login">
                <input type="text" name="l_username" placeholder="Your Username">
                <input type="submit" value="Submit">                
            </form>
            {% if error %}
                <p>Invalid User ID entered<p>
            {% endif %}
        </body>
    </head>
</html>